@use '../utils' as *;

*{
    scroll-behavior: smooth;
}


#logo {
    height: 40px;
    width: 100px;
    z-index: 1000;
    background-color: $primary-color;

    text {
        font-size: 30px;
        font-family: fantasy;
        stroke: white;
        stroke-width: 0.5;
        fill: none;
        letter-spacing: 2px;
    }
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.primary-btn{
    background-color: $primary-color;
    color: white;
    border: 1px solid transparent;
}

.secondary-btn{
    background-color: $background-color;
    color: $primary-color-dark;
    border: 1px solid currentColor;
}

