@use '../utils' as *;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: monospace;
}


@media screen and (max-width: $large-device) {
    body {
        display: flex;
        flex-direction: column;
    }

    #navigation-link {
        width: 100%;
        z-index: 100;
    }

    #content{
        width: 100vw;
        padding-top: 40px;
        z-index: 0;
    }    
}

@media screen and (min-width : $large-device) {
    body {
        display: flex;
    }

    #navigation-link {
        min-width: 10%;
        min-height: 100vh;
    }

    #content {
        width: 90%;
    }
}