@use '../utils' as *;

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width : $small-device) {

}

@media screen and (max-width: $medium-device) {
    
}

@media screen and (min-width : $large-device){
    #navigation-link{
        width: 10%; 
    }

    #content{
        background-color: red;
        width: 90px;
    }
} 