@use '../utils' as *;


@mixin button-style {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

header {
    display: none;
}

#navigation-link {
    width: 10%;
    min-height: 100vh;
    background: $primary-color;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;


    a {
        display: block;
        color: $text-light;
        position: relative;
        margin: 10px 0;
        @include button-style;

        i {
            font-size: 1.2rem;
        }

        span {
            background-color: $background-color;
            color: $text-dark;
            position: absolute;
            left: 110%;
            top: 0;
            border: 1px solid currentColor;
            @include button-style;
            display: none;
            transition: display 0.9s ease-in;
        }

        &:hover>span {
            display: inline;
        }

        &:hover {
            background-color: $background-color;
            color: $text-dark;
            border: 1px solid currentColor;
        }

    }

}

@media screen and (max-width : $small-device) {
    header {
        display: block;
        width: 100%;
        height: 30px;
        background-color: $primary-color;
        position: fixed;

        button {
            background-color: $primary-color;
            color: $text-light;
            height: 30px;
            border: none;
            @include button-style;

            &:hover {
                background-color: $primary-color-dark;
            }
        }
    }

    #navigation-link {
        position: absolute;
        width: 200px;
        min-width: 50%;
        top: 30px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
        background-color: $background-color;
        display: none;

        a {
            text-align: left;
            margin: 5px 10px;

            span {
                color: $text-dark;
                display: inline;
                position: static;
                border: none;
            }

            i {
                color: $primary-color-dark;
            }

            &:hover {
                border-color: transparent;
                border-radius: 0;
                border-bottom-color: $text-dark;
            }
        }

        &:hover {
            display: flex;
        }

    }
}