@use '../utils' as *;

@media screen and (min-width:$large-device) {
    #navigation-link {
        background-color: $primary-color;

        #logo {
            width: 10vw;
            position: absolute;
            top: 0;
            margin-bottom: 10px;
        }

        button {
            display: none;
        }

        div#nav-items {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            z-index: 100;
            position: absolute;
            bottom: 0;
            width: 10vw;
            left: 0;
        }

        a {
            display: block;
            width: 98%;
            margin: 5px auto;
            @include button-style($background-color);
            border: none;
            position: relative;
            font-size: 1.5rem;
        }

        a:hover::after {
            content: "";
            height: 15px;
            width: 15px;
            position: absolute;
            background-color: $background-color;
            z-index: 11;
            top: 50%;
            left: 115%;
            transform: translate(-50%, -50%) rotate(45deg);
            border-bottom: 1px solid $primary-color;
            border-left: 1px solid $primary-color;

        }

        span {
            position: absolute;
            top: 0;
            left: 115%;
            @include button-style();
            background: $background-color;
            display: none;
            z-index: 10;
        }

        a:hover {
            border: 1px solid;
            background-color: $primary-color;
        }

        a:hover>span {
            display: block;
        }
    }
}

@media screen and (max-width : $large-device) {
    #navigation-link {
        background-color: $primary-color;
        padding: 0px;
        position: fixed;
        display: flex;
        justify-content: space-between;

        #logo {
            order: 2;
        }

        button {
            height: 40px;
            padding: 0px 20px;
            font-size: 1.2rem;
            text-align: center;
            background-color: $primary-color;
            border: none;
            color: $background-color;
            cursor: pointer;
            order: 1;
        }

        button:hover {
            background-color: $primary-color-dark;

            &+div#nav-items {
                display: block;
            }
        }

        div#nav-items {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 20px;
            min-height: calc(100vh - 40px);
            display: flex;
            flex-direction: column;
            justify-content: start;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 100;
            background-color: $background-color;

            &:hover {
                display: block;
            }
        }



        a {
            display: block;
            padding: 5px 10px;
            margin: 10px 0;
            color: $primary-color;
            font-size: 1.2rem;
            position: relative;
        }

        a:hover {
            color: $primary-color-dark;
            border-bottom: 2px solid currentColor;
            background-color: $background-light-dark;
        }

        i {
            margin-right: 10px;
        }

    }
}